* {
  font-family: Arial, Helvetica, sans-serif;
}

/* aturan terakhir */
i {
  color: green;
}
i {
  color: red; /* yang di ambil in */
}

/* specific */
b {
  color: pink; /* level 1 */
}
p b {
  color: magenta !important; /* level 3 = ini yang akan di pilih */
}
p b {
  color: blue; /* level 2 */
}
p b {
  font-size: 150%;
}

/* studi kasus */
p {
  font-size: 100%;
}
p#pendahuluan {
  font-size: 75%;
}
